
p {
	font-family: calibri, arial, verdana;
}


h1 {
	font-family: calibri, arial, verdana;
	font-variant: small-caps;
}

h2 {
	font-family: calibri, arial, verdana;
	font-variant: capitalize;

}


h4 {
	font-family: Calibri, arial, verdana;
}


.container {
	background-color: rgb(245,250,250);
	max-width: 768px !important;
}

.education {
	border-top: .1px solid black;	
}

.experience {
	border-top: .1px solid black;
}

.skills {
	border-top: .1px solid black;
}


